/* styles.css (completa con el contenido que falte) */
.animate-box {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    transition: width 0.5s, height 0.5s;

}

.animate-box:hover {
    width: 200px;
    height: 200px;
}